<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Promedio Estudiantes Nuevo </title>
    <link rel="stylesheet" href="css/style.css" type="text/css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    <header>
        <h1></h1>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="/inicio">INICIO</a></li>
                <li><a href="/crearCurso">CREAR CURSO</a></li>
                <li><a href="/verCurso">VER CURSO</a></li>
                <li><a href="/inscribirse">INSCRIBIR</a></li>
				<li><a href="/verInscritos">VER INSCRITOS</a></li>
                </ul>
            </div>
        </nav>
    </header>